*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header, main, footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

header{
  height: 100px;
  text-align: center;
  background-color: green;
}

main{
  height: calc(100vh - 200px);
  text-align: center;
  background-color: red;
  flex-wrap: wrap;
}

footer{
  height: 100px;
  text-align: center;
  background-color: blue;
}